@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div>
        <dl class="row">
        </dl>
    </div>
    <h4>Demonstracja obsługi błędów</h4>
    <p>Wywołaj błąd:</p>
    <form method="post">
        <button type="submit" class="btn btn-outline-info">Błąd</button>
    </form>
</div>
