@page
@model Web.Pages.OptionsModel
@{
    ViewData["Title"] = "Options demo";
}

<h1>@Model.OptionsDemo.Subject</h1>
<h3>@Model.OptionsDemo.Description</h3>
<div>
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to Homepage</a>
</div>
