TEMP
/LAB02/MinimalApiProject/.vs/MinimalApiProject/DesignTimeBuild/.dtbcache.v2
/LAB02/MinimalApiProject/.vs/MinimalApiProject/FileContentIndex/5c354e3a-f753-4882-bdca-ae173ea71be7.vsidx
/LAB02/MinimalApiProject/.vs/MinimalApiProject/v17/.futdcache.v2
/LAB02/MinimalApiProject/.vs/MinimalApiProject/v17/.suo
/LAB02/MinimalApiProject/.vs/MinimalApiProject/v17/DocumentLayout.backup.json
/LAB02/MinimalApiProject/.vs/MinimalApiProject/v17/DocumentLayout.json
/LAB02/MinimalApiProject/.vs/ProjectEvaluation/minimalapiproject.metadata.v9.bin
/LAB02/MinimalApiProject/.vs/ProjectEvaluation/minimalapiproject.projects.v9.bin
/LAB02/MinimalApiProject/.vs/ProjectEvaluation/minimalapiproject.strings.v9.bin
/LAB02/WebApiProject/.vs/ProjectEvaluation/webapiproject.metadata.v9.bin
/LAB02/WebApiProject/.vs/ProjectEvaluation/webapiproject.projects.v9.bin
/LAB02/WebApiProject/.vs/ProjectEvaluation/webapiproject.strings.v9.bin
/LAB02/WebApiProject/.vs/WebApiProject/DesignTimeBuild/.dtbcache.v2
/LAB02/WebApiProject/.vs/WebApiProject/FileContentIndex/ed61f6c0-c818-456a-bff2-399ee86226bb.vsidx
/LAB02/WebApiProject/.vs/WebApiProject/v17/.futdcache.v2
/LAB02/WebApiProject/.vs/WebApiProject/v17/.suo
/LAB02/WebApiProject/.vs/WebApiProject/v17/DocumentLayout.backup.json
/LAB02/WebApiProject/.vs/WebApiProject/v17/DocumentLayout.json
/LAB03/GrpcServiceAndClient/.vs/GrpcServiceAndClient/DesignTimeBuild/.dtbcache.v2
/LAB03/GrpcServiceAndClient/.vs/GrpcServiceAndClient/FileContentIndex/d4058513-462e-42de-879a-b09ecea657ae.vsidx
/LAB03/GrpcServiceAndClient/.vs/GrpcServiceAndClient/v17/.futdcache.v2
/LAB03/GrpcServiceAndClient/.vs/GrpcServiceAndClient/v17/.suo
/LAB03/GrpcServiceAndClient/.vs/GrpcServiceAndClient/v17/DocumentLayout.backup.json
/LAB03/GrpcServiceAndClient/.vs/GrpcServiceAndClient/v17/DocumentLayout.json
/LAB03/GrpcServiceAndClient/.vs/ProjectEvaluation/grpcserviceandclient.metadata.v9.bin
/LAB03/GrpcServiceAndClient/.vs/ProjectEvaluation/grpcserviceandclient.projects.v9.bin
/LAB03/GrpcServiceAndClient/.vs/ProjectEvaluation/grpcserviceandclient.strings.v9.bin
/LAB03/SoapServiceAndClient/.vs/ProjectEvaluation/soapserviceandclient.metadata.v9.bin
/LAB03/SoapServiceAndClient/.vs/ProjectEvaluation/soapserviceandclient.projects.v9.bin
/LAB03/SoapServiceAndClient/.vs/ProjectEvaluation/soapserviceandclient.strings.v9.bin
/LAB03/SoapServiceAndClient/.vs/SoapServiceAndClient/DesignTimeBuild/.dtbcache.v2
/LAB03/SoapServiceAndClient/.vs/SoapServiceAndClient/FileContentIndex/9af71ddf-12d5-4af0-a6c4-15280c626050.vsidx
/LAB03/SoapServiceAndClient/.vs/SoapServiceAndClient/v17/.futdcache.v2
/LAB03/SoapServiceAndClient/.vs/SoapServiceAndClient/v17/.suo
/LAB03/SoapServiceAndClient/.vs/SoapServiceAndClient/v17/DocumentLayout.backup.json
/LAB03/SoapServiceAndClient/.vs/SoapServiceAndClient/v17/DocumentLayout.json
/LAB01/AspNetCoreBasics/.vs/AspNetCoreBasics/DesignTimeBuild/.dtbcache.v2
/LAB01/AspNetCoreBasics/.vs/AspNetCoreBasics/FileContentIndex/73c19b90-4ce8-40e4-9b1d-e88cc87e0bea.vsidx
/LAB01/AspNetCoreBasics/.vs/AspNetCoreBasics/v17/.futdcache.v2
/LAB01/AspNetCoreBasics/.vs/AspNetCoreBasics/v17/.suo
/LAB01/AspNetCoreBasics/.vs/AspNetCoreBasics/v17/DocumentLayout.backup.json
/LAB01/AspNetCoreBasics/.vs/AspNetCoreBasics/v17/DocumentLayout.json
/LAB01/AspNetCoreBasics/.vs/ProjectEvaluation/aspnetcorebasics.metadata.v8.bin
/LAB01/AspNetCoreBasics/.vs/ProjectEvaluation/aspnetcorebasics.metadata.v9.bin
/LAB01/AspNetCoreBasics/.vs/ProjectEvaluation/aspnetcorebasics.projects.v8.bin
/LAB01/AspNetCoreBasics/.vs/ProjectEvaluation/aspnetcorebasics.projects.v9.bin
/LAB01/AspNetCoreBasics/.vs/ProjectEvaluation/aspnetcorebasics.strings.v8.bin
/LAB01/AspNetCoreBasics/.vs/ProjectEvaluation/aspnetcorebasics.strings.v9.bin
