TEMP
/LAB02/MinimalApiProject/.vs/MinimalApiProject/DesignTimeBuild/.dtbcache.v2
/LAB02/MinimalApiProject/.vs/MinimalApiProject/FileContentIndex/5c354e3a-f753-4882-bdca-ae173ea71be7.vsidx
/LAB02/MinimalApiProject/.vs/MinimalApiProject/v17/.futdcache.v2
/LAB02/MinimalApiProject/.vs/MinimalApiProject/v17/.suo
/LAB02/MinimalApiProject/.vs/MinimalApiProject/v17/DocumentLayout.backup.json
/LAB02/MinimalApiProject/.vs/MinimalApiProject/v17/DocumentLayout.json
/LAB02/MinimalApiProject/.vs/ProjectEvaluation/minimalapiproject.metadata.v9.bin
/LAB02/MinimalApiProject/.vs/ProjectEvaluation/minimalapiproject.projects.v9.bin
/LAB02/MinimalApiProject/.vs/ProjectEvaluation/minimalapiproject.strings.v9.bin
/LAB02/WebApiProject/.vs/ProjectEvaluation/webapiproject.metadata.v9.bin
/LAB02/WebApiProject/.vs/ProjectEvaluation/webapiproject.projects.v9.bin
/LAB02/WebApiProject/.vs/ProjectEvaluation/webapiproject.strings.v9.bin
/LAB02/WebApiProject/.vs/WebApiProject/DesignTimeBuild/.dtbcache.v2
/LAB02/WebApiProject/.vs/WebApiProject/FileContentIndex/ed61f6c0-c818-456a-bff2-399ee86226bb.vsidx
/LAB02/WebApiProject/.vs/WebApiProject/v17/.futdcache.v2
/LAB02/WebApiProject/.vs/WebApiProject/v17/.suo
/LAB02/WebApiProject/.vs/WebApiProject/v17/DocumentLayout.backup.json
/LAB02/WebApiProject/.vs/WebApiProject/v17/DocumentLayout.json
/LAB03/GrpcServiceAndClient/.vs/GrpcServiceAndClient/DesignTimeBuild/.dtbcache.v2
/LAB03/GrpcServiceAndClient/.vs/GrpcServiceAndClient/FileContentIndex/d4058513-462e-42de-879a-b09ecea657ae.vsidx
/LAB03/GrpcServiceAndClient/.vs/GrpcServiceAndClient/v17/.futdcache.v2
/LAB03/GrpcServiceAndClient/.vs/GrpcServiceAndClient/v17/.suo
/LAB03/GrpcServiceAndClient/.vs/GrpcServiceAndClient/v17/DocumentLayout.backup.json
/LAB03/GrpcServiceAndClient/.vs/GrpcServiceAndClient/v17/DocumentLayout.json
/LAB03/GrpcServiceAndClient/.vs/ProjectEvaluation/grpcserviceandclient.metadata.v9.bin
/LAB03/GrpcServiceAndClient/.vs/ProjectEvaluation/grpcserviceandclient.projects.v9.bin
/LAB03/GrpcServiceAndClient/.vs/ProjectEvaluation/grpcserviceandclient.strings.v9.bin
/LAB03/SoapServiceAndClient/.vs/ProjectEvaluation/soapserviceandclient.metadata.v9.bin
/LAB03/SoapServiceAndClient/.vs/ProjectEvaluation/soapserviceandclient.projects.v9.bin
/LAB03/SoapServiceAndClient/.vs/ProjectEvaluation/soapserviceandclient.strings.v9.bin
/LAB03/SoapServiceAndClient/.vs/SoapServiceAndClient/DesignTimeBuild/.dtbcache.v2
/LAB03/SoapServiceAndClient/.vs/SoapServiceAndClient/FileContentIndex/9af71ddf-12d5-4af0-a6c4-15280c626050.vsidx
/LAB03/SoapServiceAndClient/.vs/SoapServiceAndClient/v17/.futdcache.v2
/LAB03/SoapServiceAndClient/.vs/SoapServiceAndClient/v17/.suo
/LAB03/SoapServiceAndClient/.vs/SoapServiceAndClient/v17/DocumentLayout.backup.json
/LAB03/SoapServiceAndClient/.vs/SoapServiceAndClient/v17/DocumentLayout.json
/LAB01/AspNetCoreBasics/.vs/AspNetCoreBasics/DesignTimeBuild/.dtbcache.v2
/LAB01/AspNetCoreBasics/.vs/AspNetCoreBasics/FileContentIndex/73c19b90-4ce8-40e4-9b1d-e88cc87e0bea.vsidx
/LAB01/AspNetCoreBasics/.vs/AspNetCoreBasics/v17/.futdcache.v2
/LAB01/AspNetCoreBasics/.vs/AspNetCoreBasics/v17/.suo
/LAB01/AspNetCoreBasics/.vs/AspNetCoreBasics/v17/DocumentLayout.backup.json
/LAB01/AspNetCoreBasics/.vs/AspNetCoreBasics/v17/DocumentLayout.json
/LAB01/AspNetCoreBasics/.vs/ProjectEvaluation/aspnetcorebasics.metadata.v8.bin
/LAB01/AspNetCoreBasics/.vs/ProjectEvaluation/aspnetcorebasics.metadata.v9.bin
/LAB01/AspNetCoreBasics/.vs/ProjectEvaluation/aspnetcorebasics.projects.v8.bin
/LAB01/AspNetCoreBasics/.vs/ProjectEvaluation/aspnetcorebasics.projects.v9.bin
/LAB01/AspNetCoreBasics/.vs/ProjectEvaluation/aspnetcorebasics.strings.v8.bin
/LAB01/AspNetCoreBasics/.vs/ProjectEvaluation/aspnetcorebasics.strings.v9.bin
/LAB07/WebApplicationForProduction/.vs/ProjectEvaluation/webapplicationforproduction.metadata.v9.bin
/LAB07/WebApplicationForProduction/.vs/ProjectEvaluation/webapplicationforproduction.projects.v9.bin
/LAB07/WebApplicationForProduction/.vs/ProjectEvaluation/webapplicationforproduction.strings.v9.bin
/LAB07/WebApplicationForProduction/.vs/WebApplicationForProduction/DesignTimeBuild/.dtbcache.v2
/LAB07/WebApplicationForProduction/.vs/WebApplicationForProduction/FileContentIndex/34326f49-162d-4432-8c70-322d77efebe7.vsidx
/LAB07/WebApplicationForProduction/.vs/WebApplicationForProduction/v17/.futdcache.v2
/LAB07/WebApplicationForProduction/.vs/WebApplicationForProduction/v17/.suo
/LAB07/WebApplicationForProduction/.vs/WebApplicationForProduction/v17/DocumentLayout.backup.json
/LAB07/WebApplicationForProduction/.vs/WebApplicationForProduction/v17/DocumentLayout.json
/LAB08/WebApplicationDocker/.vs/ProjectEvaluation/webapplicationdocker.metadata.v9.bin
/LAB08/WebApplicationDocker/.vs/ProjectEvaluation/webapplicationdocker.projects.v9.bin
/LAB08/WebApplicationDocker/.vs/ProjectEvaluation/webapplicationdocker.strings.v9.bin
/LAB08/WebApplicationDocker/.vs/WebApplicationDocker/DesignTimeBuild/.dtbcache.v2
/LAB08/WebApplicationDocker/.vs/WebApplicationDocker/FileContentIndex/a8b2ff32-6c7b-407d-83f8-d4f5bcd96dc5.vsidx
/LAB08/WebApplicationDocker/.vs/WebApplicationDocker/v17/.futdcache.v2
/LAB08/WebApplicationDocker/.vs/WebApplicationDocker/v17/.suo
/LAB08/WebApplicationDocker/.vs/WebApplicationDocker/v17/DocumentLayout.backup.json
/LAB08/WebApplicationDocker/.vs/WebApplicationDocker/v17/DocumentLayout.json
/LAB05/RazorPagesMovie90/.vs/ProjectEvaluation/razorpagesmovie.metadata.v9.bin
/LAB05/RazorPagesMovie90/.vs/ProjectEvaluation/razorpagesmovie.projects.v9.bin
/LAB05/RazorPagesMovie90/.vs/ProjectEvaluation/razorpagesmovie.strings.v9.bin
/LAB05/RazorPagesMovie90/.vs/RazorPagesMovie/DesignTimeBuild/.dtbcache.v2
/LAB05/RazorPagesMovie90/.vs/RazorPagesMovie/FileContentIndex/7563ce51-d302-439c-9bd8-ff9bea91f45f.vsidx
/LAB05/RazorPagesMovie90/.vs/RazorPagesMovie/v17/.futdcache.v2
/LAB05/RazorPagesMovie90/.vs/RazorPagesMovie/v17/.suo
/LAB05/RazorPagesMovie90/.vs/RazorPagesMovie/v17/DocumentLayout.backup.json
/LAB05/RazorPagesMovie90/.vs/RazorPagesMovie/v17/DocumentLayout.json
/LAB05/RazorPagesLogin/.vs/ProjectEvaluation/razorpageslogin.metadata.v9.bin
/LAB05/RazorPagesLogin/.vs/ProjectEvaluation/razorpageslogin.projects.v9.bin
/LAB05/RazorPagesLogin/.vs/ProjectEvaluation/razorpageslogin.strings.v9.bin
/LAB05/RazorPagesLogin/.vs/RazorPagesLogin/DesignTimeBuild/.dtbcache.v2
/LAB05/RazorPagesLogin/.vs/RazorPagesLogin/FileContentIndex/bb1b94e2-5347-4f46-a6a6-5f00723e9bdf.vsidx
/LAB05/RazorPagesLogin/.vs/RazorPagesLogin/v17/.futdcache.v2
/LAB05/RazorPagesLogin/.vs/RazorPagesLogin/v17/.suo
/LAB05/RazorPagesLogin/.vs/RazorPagesLogin/v17/DocumentLayout.backup.json
/LAB05/RazorPagesLogin/.vs/RazorPagesLogin/v17/DocumentLayout.json
/LAB01/AspNetCoreBasics/.vs/AspNetCoreBasics/FileContentIndex/6c0ddc56-4b9a-4c18-992b-9583f05fc052.vsidx
/LAB01/AspNetCoreBasics/.vs/AspNetCoreBasics/config/applicationhost.config
/LAB04/JwtWebApiProject/.vs/JwtWebApiProject/FileContentIndex/2788bf53-29b7-406f-bbca-dea1062c1a2b.vsidx
/LAB04/JwtWebApiProject/.vs/JwtWebApiProject/v17/.futdcache.v2
/LAB04/JwtWebApiProject/.vs/JwtWebApiProject/v17/.suo
/LAB04/JwtWebApiProject/.vs/JwtWebApiProject/v17/DocumentLayout.backup.json
/LAB04/JwtWebApiProject/.vs/JwtWebApiProject/v17/DocumentLayout.json
/LAB04/JwtWebApiProject/.vs/ProjectEvaluation/jwtwebapiproject.metadata.v9.bin
/LAB04/JwtWebApiProject/.vs/ProjectEvaluation/jwtwebapiproject.projects.v9.bin
/LAB04/JwtWebApiProject/.vs/ProjectEvaluation/jwtwebapiproject.strings.v9.bin
