@page
@model GrpcClientModel
@{
    ViewData["Title"] = "gRPC Client";
}
<h1>@ViewData["Title"]</h1>

<p>Tutaj powinien znaleźć się interfejs użytkownika, pozwalający na uruchomienie usługi WebGrpcService.</p>
<p>np. formularz z danymi wejściowymi i przycisk "Uruchom usługę" - następnie powinno nastąpić wywołanie i reakcja graficzna na dane uzyskane z usługi.</p>
<p>P.S. do wywołań WebAPI można użyć biblioteki Grpc.AspNetCore.Web </p>

<p>[brak przykładu]</p>