@page
@model IndexModel
@{
    ViewData["Title"] = "Admin Panel";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Tutaj powinien znaleźć się panel logowania oraz moduł przyznawania dostępów do web API - użytkownicy, role systemowe itp.</p>
</div>
