@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Try to enter <a asp-page="/Secure/Index">secure area</a>.</p>
</div>
